{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ML/AI/Robotics</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Imperial - v5.8.0
  * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static 'assets/img/mllogo.png' %}" alt="E-Machine-Learning">
        </div>

        <h1>Welcome to Engisol Machine-Learning/Ai Engineering platform</h1>
        <h2>We also create <span class="typed" data-typed-items="Machine learning models applications & Artificial intelligence for web apps"></span></h2>
        <div class="actions">
          <a href="/machine-learning/" class="btn-get-started">Get Strated</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo mr-auto"><img src="{% static 'assets/img/mllogo1.jpg' %}" alt="E-Machine-Learning"></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">About Us-Engisol</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">We are a team of dedicated software engineers, developers & technology-digital enthusiast.</p>
          </div>
        </div>
      </div>
      <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">

          <div class="col-lg-6 about-img">
            <img src="{% static 'assets/img/1.png' %}" style="border-radius: 20px;" alt="">
            <img src="{% static 'assets/img/2.png' %}" style="border-radius: 20px;" alt="">
            <img src="{% static 'assets/img/3.png' %}" style="border-radius: 20px;" alt="">

          </div>

          <div class="col-md-6 about-content">
            <h2 class="about-title">We provide great services and ideas in tech, engineering & digital skills</h2>
            <p class="about-text">
              We offer skills in software engineering in the aspect of website development, mobile app, Machine-Learning/Artificial intelligence/Robotics principles,
              for both front-end & back-end engineering, 
              bug fixing and debugging, testing & implementations of software applications, creation and development of useful softwares for easy use 
              by all.
            </p>
            <p class="about-text">
              We also specialize in digital skills in the aspect of graphics designing, such as logos, 3D & animations, social media kits, mock-ups,
              ads, carousels and lots more to capture our clients attention to any business as in graphics world.
            </p>
            <p class="about-text">
              We offer another digital skills of copywriting & content write-ups to convince buyers and get thier attention to any particular business,
              we are dedicated to make buyers come close to your websites pulling them back to you with our enticing and hooky words, SEO enriched.
            </p>
            <img src="{% static 'assets/img/ml_ai_rob.png' %}" style="width: 450px; height: 400px; border-radius: 20px;" alt="">
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container">
        <div class="row" data-aos="fade-up">
          <div class="col-md-12">
            <h3 class="section-title">Our Services</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Here listed below are some of our top services, please read.</p>
          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><img src="{% static 'assets/img/s1.png' %}" style="width: 50px; height: 50px;" alt=""></div>
            <h4 class="service-title"><a href="">Front-end Engineering</a></h4>
            <p class="service-description">Here we specialize in the design, look, feel & display of the website &
               mobile app, we ensure added animation features and 3D
              works to make the site look attractive & presentable to clients, 
              through concepts of graphics design & web contruction.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><img src="{% static 'assets/img/s2.png' %}" style="width: 50px; height: 50px;" alt=""></div>
            <h4 class="service-title"><a href="">Back-end Engineering</a></h4>
            <p class="service-description">We specialize in database manipulation, creation of multiple 
              web & mobile back-end functionalities to make the website perform 1,2 or more simple or complex 
            functions for the aim of serving human needs and comfort for man. We engage in use of consumable APIS, 
           web engineering & debugging, fixing of sites, exploration of other branches of technology:(Networking, Machine-Learning, Cloud 
           Engineering, Cyber-Hacking feature for web, Artificial-Intelligence, Robotics) for application in back-end field.
            database engineering and lots more, this is known for software applications 
          & back-end is the most important aspect in the realm of technology and engineering.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><img src="{% static 'assets/img/s3.png' %}" style="width: 50px; height: 50px;" alt=""></div>
            <h4 class="service-title"><a href="">Graphics-designing</a></h4>
            <p class="service-description">We also act on digital skills of visuals of objects beautification, we design your brand 
              & ensure it comes out attractive to your clients. We do logo designs, 3D & animations, carousels, social media kit, flyers,
              posters, banners, mock-ups & lots more...
            </p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><img src="{% static 'assets/img/s4.png' %}" style="width: 50px; height: 50px;" alt=""></div>
            <h4 class="service-title"><a href="">Copywriting & Contentwrite-ups</a></h4>
            <p class="service-description">We help you magnify the power and usage of words to help catch, convince  & hook-up, your clients without a way
              of them escaping but they have no choice but to patronise you. Our words are enticing, standard and catchy & we specialize in SEO techniques,
              all types of copywrite-ups such as website copy, sales copy, articles and lots more...
            </p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><img src="{% static 'assets/img/s5.png' %}" style="width: 50px; height: 50px;" alt=""></div>
            <h4 class="service-title"><a href="">Machine-Learning/Artificial-Intelligence/Robotics</a></h4>
            <p class="service-description">Another branch of technology & engineering we also dive into it. We help you apply in into your software applications,
              implement it and ensure it perform certain functions such as predictions of human choices and what human are used to daily, acting like human beings,
              the way human operates, it also operates and lots more features. This is known as also Artificial-Intelligence & it also plays a major role in web & mobile app
              development, in fact Machine-Learning & its derivatives is by far the number1 most important leading technology & engineering in the world.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><img src="{% static 'assets/img/s6.png' %}" style="width: 50px; height: 50px;" alt=""></div>
            <h4 class="service-title"><a href="">Engineering Approach-(Fixing & Debugging)</a></h4>
            <p class="service-description">We apply the engineering technicalities to help identify problems and provide 
              solutions to them to get your web & mobile app working well and back to its feet. It entails going through your 
              software programmes and see where the fault arises and try attach, add or remove some fixing approach to get it on 
              a great site & app work efficiency.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Subscrbe Section ======= -->
    <section id="subscribe">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title">Subscribe For Updates</h3>
            <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
          </div>
          <div class="col-md-4 subscribe-btn-container">
            <a class="subscribe-btn" href="#">Subscribe Now</a>
          </div>
        </div>
      </div>
    </section><!-- End Subscrbe Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Portfolio</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Porfolio showcase of our past services to clients with a great feedback.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Software-App</li>
              <li data-filter=".filter-card">Graphics</li>
              <li data-filter=".filter-web">Copywrite-ups</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/p1.PNG' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Social-media website app</h4>
              <p>web-App</p>
              <a href="{% static 'assets/img/portfolio/p1.PNG' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/p7copy.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Copywriting -Certification</h4>
              <p>Copy/Content-Writeups</p>
              <a href="{% static 'assets/img/portfolio/p7copy.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/p3.PNG' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>E-commerce web app</h4>
              <p>Web-App</p>
              <a href="{% static 'assets/img/portfolio/p3.PNG' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/p4.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>design for brands</h4>
              <p>Graphics-designing</p>
              <a href="{% static 'assets/img/portfolio/p4.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/p8copy.PNG' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Sales copy</h4>
              <p>copywriting/Content-writeups</p>
              <a href="{% static 'assets/img/portfolio/p8copy.PNG' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/p2.PNG' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Porfolio personal website</h4>
              <p>website</p>
              <a href="{% static 'assets/img/portfolio/p2.PNG' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/p5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>flyer designs</h4>
              <p>Graphics-designing</p>
              <a href="{% static 'assets/img/portfolio/p5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/p6.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Carousel designs</h4>
              <p>Graphics-designing</p>
              <a href="{% static 'assets/img/portfolio/p6.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/p10.PNG' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Article write-ups</h4>
              <p>copywriting/Content-writeups</p>
              <a href="{% static 'assets/img/portfolio/p10.PNG' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Testimonials</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Below are few of the great feedbacks gotten from our customers, 
              hear them <i class="fa fa-hand-o-down"></i></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'assets/img/client-1.jpg' %}" alt=""></div>
              <h4>Saul Goodman</h4>
              <span>Tech Inc</span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'assets/img/quote_sign_left.png' %}" alt=""></b> 
              The Engisol team has really been amazing with thier services, at first i didn't really believe in them,
              but on giving it a try, i was wowed!!! at thier services, never look down on any firm. I recommend them to any clients 
              in need of thier services Laughs!!!. Love you all at Engisol.
              <small><img src="{% static 'assets/img/quote_sign_right.png' %}" alt=""></small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'assets/img/quote_sign_left.png' %}" alt=""></b> 
              Aside from the great & oustandingly amazing services from Engisol, i really love them for thier great and friendly customer 
              relationship, 24/7 availabilty for us, affordable price offer, free tips & free little services. I recommend & refer this team
              for any client out there. Engisol team, we love you, keep up the good jobs & works you offer.
              <small><img src="{% static 'assets/img/quote_sign_right.png' %}" alt=""></small>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'assets/img/client-2.jpg' %}" alt=""></div>
              <h4>Sara Wilsson</h4>
              <span>Software engineering Inc</span>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Our Team</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Below are some of our top team members at Engisol, be pleased to meet with us smiles!!!.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Joshua Oluwaferanmi</h4>
              <span>CEO of Engisol/Software-Engineer(FullStack-Dev)/Digital-Worker</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/team/team-2.jpg' %}" alt=""></div>
              <h4>Detomi Faith</h4>
              <span>Product-Manager/Tech-enthusiast</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/team/team-3.jpg' %}" alt=""></div>
              <h4>Tolu Iwalewa</h4>
              <span>Software-Engineer(Back-end Developer)/Python-Engineer</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'assets/img/team/team-4.jpg' %}" alt=""></div>
              <h4>Boluwatife AKA Bee</h4>
              <span>Python-Engineer</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Contact Us</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">
              For more info or need of quick service delivery, contact us below, gracias!!!.
            </p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Atunrase Estate<br>Gbagada, Lagos Nigeria</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>oluferonmijoshua@gmail.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+234-70-6583-8151</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="{% static 'forms/contact.php' %}" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Engisol</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
          -->
            Developed by the<a href="https://engisolwebapp.herokuapp.com/">Engisol-team</a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>